In [18]:
from nba_api.stats.static import teams

nba_teams = teams.get_teams()
#Select the dictionary for the Celtics, which contains their Team ID
celtics = [team for team in nba_teams if team ['abbreviation'] == 'BOS'][0]
celtics_id = celtics['id']

In [19]:
from nba_api.stats.endpoints import leaguegamefinder

# Query for games where the Celtics were playing
gamefinder = leaguegamefinder.LeagueGameFinder(team_id_nullable=celtics_id)
# The first DataFrame of those returned is what we want.
games = gamefinder.get_data_frames()[0]
games.head()

  SEASON_ID     TEAM_ID TEAM_ABBREVIATION  ... TOV  PF PLUS_MINUS
0     42023  1610612738               BOS  ...  11  18        3.0
1     42023  1610612738               BOS  ...   7  18        3.0
2     42023  1610612738               BOS  ...  10  16       16.0
3     42023  1610612738               BOS  ...  14  15        5.0
4     42023  1610612738               BOS  ...  12  15       15.0

[5 rows x 28 columns]

In [20]:
games.groupby(games.SEASON_ID.str[-4:])[['GAME_ID']].count().loc['2015':]

           GAME_ID
SEASON_ID
2015           103
2016           115
2017           113
2018           101
2019           102
2020            80
2021           115
2022           111
2023           106

In [21]:
# Subset the games to when the last 4 digits of SEASON_ID were 2017
games_2324 = games[games.SEASON_ID.str[-4:] == '2023']
games_2324.head()

  SEASON_ID     TEAM_ID TEAM_ABBREVIATION  ... TOV  PF PLUS_MINUS
0     42023  1610612738               BOS  ...  11  18        3.0
1     42023  1610612738               BOS  ...   7  18        3.0
2     42023  1610612738               BOS  ...  10  16       16.0
3     42023  1610612738               BOS  ...  14  15        5.0
4     42023  1610612738               BOS  ...  12  15       15.0

[5 rows x 28 columns]

In [22]:
raps_games_2324 = games_2324[games_2324.MATCHUP.str.contains('TOR')]
raps_games_2324.head()

   SEASON_ID     TEAM_ID TEAM_ABBREVIATION  ... TOV  PF PLUS_MINUS
56     22023  1610612738               BOS  ...  12  16        9.0
65     22023  1610612738               BOS  ...  16  17        2.0
84     22023  1610612738               BOS  ...  10  13        3.0
87     22023  1610612738               BOS  ...  12  14       23.0

[4 rows x 28 columns]

In [23]:
last_raps_game = raps_games_2324.sort_values('GAME_DATE').iloc[-1]
last_raps_game

SEASON_ID                     22023
TEAM_ID                  1610612738
TEAM_ABBREVIATION               BOS
TEAM_NAME            Boston Celtics
GAME_ID                  0022300563
GAME_DATE                2024-01-15
MATCHUP                   BOS @ TOR
WL                                W
MIN                             240
PTS                             105
FGM                              33
FGA                              82
FG_PCT                        0.402
FG3M                             16
FG3A                             39
FG3_PCT                        0.41
FTM                              23
FTA                              25
FT_PCT                         0.92
OREB                              5
DREB                             48
REB                              53
AST                              20
STL                               3
BLK                               7
TOV                              12
PF                               16
PLUS_MINUS                      9.0
Name: 56, dtype: object

In [24]:
game_id = last_raps_game.GAME_ID
game_id

'0022300563'

In [25]:

# Get **all** the games so we can filter to an individual GAME_ID
result = leaguegamefinder.LeagueGameFinder()
all_games = result.get_data_frames()[0]
# Find the game_id we want
full_game = all_games[all_games.GAME_ID == game_id]
full_game

     SEASON_ID     TEAM_ID TEAM_ABBREVIATION  ... TOV  PF PLUS_MINUS
4798     22023  1610612738               BOS  ...  12  16        9.0
4819     22023  1610612761               TOR  ...   7  21       -9.0

[2 rows x 28 columns]

In [27]:
import pandas as pd

def combine_team_games(df, keep_method='home'):
  #Join every row to all others with the same game ID.
  joined = pd.merge(df, df, suffixes=['_A', '_B'],
                    on=['SEASON_ID', 'GAME_ID', 'GAME_DATE'])
  # Filter out any row that is joined to self.
  result = joined[joined.TEAM_ID_A != joined.TEAM_ID_B]
  # Take action based on the keep_method flag.
  if keep_method is None:
    # return all the rows.
    pass
  if keep_method.lower() == 'home':
    # Keep rows where TEAM_A is the home team.
    result = result[result.MATCHUP_A.str.contains(' vs. ')]
  elif keep_method.lower() == 'away':
    # Keep rows where TEAM_A is the away team
    result = result[result.MATCHUO_A.str.contains(' @ ')]
  elif keep_method.lower() == 'winner':
    # Keep rows where TEAM_A won
    result = result[result.WL_A == 'W']
  elif keep_method.lower() == 'loser':
    # Keep rows where TEAM_A lost
    result = result[result.WL_A == 'L']
  else:
    raise ValueError(f'Invalid keep_method: {keep_method}')
  return result

# Combine the game rows into one. By default, the home team will be TEAM_A
game_df = combine_team_games(full_game)
game_df

  SEASON_ID   TEAM_ID_A TEAM_ABBREVIATION_A  ... TOV_B PF_B PLUS_MINUS_B
2     22023  1610612761                 TOR  ...    12   16          9.0

[1 rows x 53 columns]

In [28]:
from nba_api.stats.endpoints import playbyplayv2
pbp = playbyplayv2.PlayByPlayV2(game_id)
pbp = pbp.get_data_frames()[0]
pbp.head()

      GAME_ID  EVENTNUM  ...  PLAYER3_TEAM_ABBREVIATION  VIDEO_AVAILABLE_FLAG
0  0022300563         2  ...                       None                     0
1  0022300563         4  ...                        BOS                     1
2  0022300563         7  ...                       None                     1
3  0022300563         8  ...                       None                     1
4  0022300563         9  ...                       None                     1

[5 rows x 34 columns]